@model IEnumerable<Society.Data.Plot_Size>
@{
    ViewBag.Title = "Manage_Plot_Size";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Plot Size Details</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                        <li class="breadcrumb-item active">Plot Size</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Add New Size</h3>
            </div>

            <div class="card-body">

                <div class="col-md-3 float-left">
                    <label>Size Name:</label>
                    <input type="text" placeholder="Plot_Size_Title" name="Plot_Size_Title" id="Plot_Size_Title"
                           class="form-control" required />
                </div>




                <div class="col-md-2 float-left">
                    <label> &nbsp;</label>
                    <button class="btn btn-primary form-control" onclick="add_category()">
                        Add Now
                    </button>
                </div>





            </div>

        </div>
        <script>
            function add_category() {

                var Plot_Size_Title = $('#Plot_Size_Title').val();

                if (Plot_Size_Title == "") { $('#Plot_Size_Title').focus(); }
               else {
                    $.ajax({
                        url: '/Plot_Size/add_size',
                        type: 'POST',
                        data: {
                            Plot_Size_Title: Plot_Size_Title,





                        },
                        cache: false,
                        success: function (data) {



                           // var obj = JSON.parse(data);


                            var tr;
                            var table = $('#example1').DataTable();
                            table.clear();

                            //Append each row to html table
                            for (var i = 0; i < data.length; i++) {
                                tr = $('<tr>');
                                tr.append("<td>" + data[i].Plot_Size_ID + "</td>");
                                tr.append("<td>" + data[i].Plot_Size_Title + "</td>");


                                tr.append("<td>" + "</button>" + "<button class='btn btn-danger btn-sm m-1' onclick=deletee('" + data[i].Plot_Size_ID + "')><i class='fas fa-trash'></i></button>" + "</td>");

                                table.row.add(tr);

                                table.draw();



                            }
                        }



                    });

                }
            }
        </script>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">ADD Plot Size</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects" id="example1">
                    <thead>
                        <tr>
                            <th style="width: 1%">#</th>

                            <th style="width: 30%">Size_Title</th>

                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.Plot_Size_ID</td>
                                <td>@x.Plot_Size_Title</td>

                                <td><button class='btn btn-danger btn-sm m-1' onclick="deletee('@x.Plot_Size_ID')"><i class='fas fa-trash'></i></button></td>

                            </tr>
                        }
                    </tbody>
                </table>
                <script>
function deletee(id) {
    $.ajax({
        url: '/Plot_Size/delete',
        type: 'POST',
        data: {
            id: id




        },
        cache: false,
        success: function (data) {

            if (data == false) {

                var table = $('#example1').DataTable();
                table.clear();
                table.draw();
            } else {

                // var obj = JSON.parse(data);


                var tr;
                var table = $('#example1').DataTable();
                table.clear();

                //Append each row to html table
                for (var i = 0; i < data.length; i++) {
                    tr = $('<tr>');
                    tr.append("<td>" + data[i].Plot_Size_ID + "</td>");
                    tr.append("<td>" + data[i].Plot_Size_Title + "</td>");


                    tr.append("<td>" + "</button>" + "<button class='btn btn-danger btn-sm m-1' onclick=deletee('" + data[i].Plot_Size_ID + "')><i class='fas fa-trash'></i></button>" + "</td>");

                    table.row.add(tr);

                    table.draw();



                }
            }
        }



    });

}</script>

            </div>
        </div>
    </section>
</div>

