@model IEnumerable<Society.Data.memberImage>




@if (Session["CNIC"] == null || Session["type"].ToString() == "Employee" || ViewBag.Key == false) { Response.Redirect("/Login/Login"); }
else
{
    <div style="margin: 8px 8px">
        <div class="content-wrapper" style="background-color:white">
            <form method="post"  enctype="multipart/form-data">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">Attachments</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Attachments</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->
                <!-- Main content -->
                <!-- Content Wrapper. Contains page content -->
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">


                        <div class="row">
                                <div class="form-group col-3 offset-8 float-left">
                                    <input type="hidden" name="id" value="@ViewBag.id"/>
                                 <input type="file" class="form-control" name="Profile_Image" id="Profile_Image" required accept="image/*" />
                                </div>
                                <div class="form-group col-1 float-left">
                                    <button type="submit" class="btn btn-primary">+ ADD</button>

                                </div>                     
                        </div>


                    </div>

                </section>
                <!-- ./start table-------------------------------------------------------------------------------------------------------------------- -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped projects" id="example1">
                            <thead>
                                <tr>
                                    <th style="width: 15%">Ref#</th>
                                    <th style="width: 30%">Image</th>
                                    <th style="width: 50%">Action</th>

                                </tr>
                            </thead>

                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.Member.Plots.First().Reg_No</td>
                                    <td><img id="large" onclick="imageOpen(this.src)" alt="Avatar" class="table-avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(x.Image))"></td>
                                    <td><a title="delete" href="/Member/DeleteAttachment?id=@x.id" onclick="return confirm('Are you sure U Want to delete Record?')" class="btn btn-outline-danger btn-sm m-1"><i class="fas fa-trash"></i></a></td>

                                </tr>
                            }
                        </table>
                    </div>
                    <script>
                        function imageOpen(src) {
                            var imag = new Image();
                            imag.src = src

                            var w = window.open("", '_blank');
                            w.document.write(imag.outerHTML);



                        }
                    </script>
                </div>
            </form>
        </div>
    </div>

}

